# yoloBranch의 .gitignore 내용
yolov5/*.h5
yolov5/*.pt
yolov5/output.jpg
yolov5/test.py
*.pt

# main의 .gitignore 내용
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
